<div class="find-article">
    <%= form_tag articles_path, method: :get do %>
    <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an article"
    %>
    <%= submit_tag "Search", class: "btn btn-primary mt-2" %>
    <% end %>
</div>

<div class="articles-container">
    <%= render 'shared/form-article' %>
    <% @articles.each do |article| %>
        <%= link_to article.title, article_path(article) %>
        <p> <%= article.content %> </p>
        <tr>
    <% end %>
</div>